<h1> Welcome you have benn invated by admin </h1>

<div>If you want to accept and participate in website click link below: </div>

<%= link_to "Sign_up", controller: 'users/registrations', action: 'new',
only_path: false, invitation_id: @inv.email, host: 'localhost:3000' %>
