<h3> Welcome you have been invited by admin </h3>

<div>If you want to accept invitation and participate in website click link below: </div>

<%= link_to "Sign_up", controller: 'users/registrations', action: 'new',
only_path: false, invitation_id: @inv.email, host: 'aqueous-sands-26728.herokuapp.com' %>

<div> Warning! Do not pass this link to other people. Is was generated specialy for you. </div>
