<h3> Welcome you have been added by admin </h3>

<div> Here is data to sign in </div>
  <div> Email: <%=@user.email %> </div>
  <div> Password: <%= @user.password %> </div>
</div>

Click to begin: <a href="http://aqueous-sands-26728.herokuapp.com/">http://aqueous-sands-26728.herokuapp.com/</a>
