<body>
<table align="center" style="margin-top: 5%">
  <tr>
    <th> User </th>
    <th> When </th>
    <th> Status </th>
  </tr>
  <% if @invitations.empty? && User.where(invited: true).empty? %>
  <tr rowspan="3">
    <td> You have no invitations in history </td>
  </tr>
  <%end%>
<% @user.each do |u| %>
  <% if !u.invited.nil? %>
  <tr>
    <td><%= u.email %> </td>
    <td><%= u.created_at %> </td>
    <td>Accepted </td>
  </tr>
  <%end%>
<%end%>
<% @invitations.each do |i| %>
  <tr>
    <td><%= i.email %> </td>
    <td><%= i.created_at %> </td>
    <% if User.where(email: i.email).empty? %>
      <td> Waiting</td>
    <%end%>
  </tr>
<%end%>
</table>
</body>
