body{
  background-color: #343d46;
  color:black;
  text-align: center;
  font-family: Arial;
  margin: 0;
}

/*nav bar style*/

ul{
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #343d46;
    top: 0;
    width: 100%;
    margin-top: 0;
    margin-bottom:0;

}

li{
    float: left;
}

li a{
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    margin: 0;

}

li.login{
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  float: right;
  border-right: 3px solid #419873;
}

li a:hover {
  background-color: black;
  margin:0;
}

/* sub nav bar style */

ul.submenu{
  list-style-type: none;
  background-color: #65737e;
  margin-top: 0;
  margin-bottom:5%;
  margin-left: 0;
  overflow: hidden;
}

li.submenu{
    float: left;
}

li a.submenu {
  text-decoration: none;
  margin-left: 0;
  color: white;
  padding: 10px;
  margin: 0;
  display: block;
  font: 17px/1 Helvetica, Verdana, sans-serif;
}

a:hover.side-menu{
  background-color: #36454f;
  padding: 10px;
  margin-left: 0;
}

/*current site coloring*/
body.assignation a.assignation:link,
body.invitation a.invitation:link{
	color: white ;
	background-color: #419873;
}

body.assignation a.assignation:hover,
body.invitation a.invitation:hover{
	color: white ;
	background-color: #419873;
}

/* table style*/

table, tr{
  width: 20px;
  border:1px solid #ccc;
  border-collapse: collapse;

}

td{
  padding-top: 10px;
  padding-bottom: 10px;
  padding-left: 60px;
  padding-right: 60px;
}

table{
  box-shadow:0 4px 8px 0 rgba(0,0,0,0.2),0 6px 20px 0 rgba(0,0,0,0.19) !important;
}

tr:nth-child(odd) {background-color: #f2f2f2}


th{
  background-color: #419873;
  color: white;
  padding-top: 20px;
  padding-bottom: 20px;
  padding-left: 60px;
  padding-right: 60px;
}
